<p id="notice"><%= notice %></p>

<div class="w3-content w3-container w3-padding-64">

 <p><%=link_to "<< Back to Account Page", "/account", :class => "w3-button w3-large w3-black w3-hover-deep-orange" %></p>

<h1 class="w3-center">Your Orders in this Store</h1>

<table id="customers">
  <thead>
    <tr>
      <th>Order Reference Number</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.email %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Order', new_order_path %>

</div>
